build/
results/benchmark-results-*
results/plots/*.png
results/csv/benchmark_log.csv
.DS_Store
**/.DS_Store
*.exe
will/

# Exclude manuscript from repository
manuscript_amb/


# Exclude submission archives
SRF_main.zip
supplementary.zip
